* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: rgb(40, 30, 78);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  padding: 1rem;
  background-color: rgb(71, 57, 84);
  max-width: 450px;
  border: 2px solid yellowgreen;
  border-radius: 6px;
  box-shadow: 0 0 10px 1px rgb(173, 255, 47, 0.7);
}
.input-string {
  font-size: 1.5rem;
  width: 100%;
}
.input-string {
  padding: 4px 6px;
  border: 2px solid yellowgreen;
  border-radius: 4px;
}
.sumbit-btn {
  width: 100%;
  margin: 0.3rem 0 0.4rem;
  font-size: 1.1rem;
  cursor: pointer;
}
.output { 
  width: 100%;
  font-size: 1.8rem;;
  color: white;
}